---
import Social from './Social.astro';

const githubAccount = "https://github.com/CMeyer19";
---

<footer class="flex items-center justify-between p-4">
    <p>Learn more about my projects on <a href={githubAccount}>Github</a>!</p>

    <div class="flex gap-4">
        <Social title="LinkedIn" link="https://www.linkedin.com/in/cole-meyer-6179bbbb/"/>
        <Social title="Github" link={githubAccount}/>
    </div>
</footer>