---
import Navigation from './Navigation.astro';
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
    <nav class="flex items-center justify-between p-4">
        <ThemeIcon/>
        <Navigation/>
    </nav>
</header>