---
const {title, link} = Astro.props;
---
<a href={link}>{title}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: var(--text-color);
        background-color: var(--accent);
        text-decoration: none;
    }
</style>